<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid align-items-center">
        <div class="row justify-content-center">
            <h3>Global Minimum Variance Portfolio (%)</h3>
        </div>
        <div class="row justify-content-center">
            <table class="table table-hover w-auto table-bordered">
                <tr class="table-info">
                    {% for data in DataFrame.index %}
                        <th>{{ data }}</th>
                    {% endfor %}

                    <tr>
                        {% for value in DataFrame %}
                            <td>{{ value }}</td>
                        {% endfor %}
            </table>

        </div>
    <div class="row justify-content-center" id="stats">
        <div class="col-4" id="year_stats">
            <div class="row justify-content-center">
                <h3>Yearly Statistics</h3>
            </div>
            <div class="row justify-content-center">
                <table class="table table-hover w-auto table-bordered">
                    <tr class="table-info">
                        {% for data in year_stats %}
                            <th>{{ data }}</th>
                        {% endfor %}

                        {% for _, record in year_stats.iterrows %}
                            <tr>
                                {% for value in record %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
{#    <div class="col-2"></div>#}
        <div class="col-4" id="month_stats">
            <div class="row justify-content-center w">
                <h3>Monthly Statistics</h3>
            </div>
            <div class="row justify-content-center">
                <table class="table table-hover w-auto table-bordered">
                    <tr class="table-info">
                        {% for data in month_stats %}
                            <th>{{ data }}</th>
                        {% endfor %}

                        {% for _, record in month_stats.iterrows %}
                            <tr>
                                {% for value in record %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>

    </div>
    <div class="row justify-content-center" id="general_stats">
        <h3>General Statistics</h3>
    </div>
    <div class="row justify-content-center">
            <table class="table table-hover table-bordered w-auto" >
                    <tr class="table-info">
                        {% for data in gen_stats %}
                            <th>{{ data }}</th>
                        {% endfor %}

                        {% for _, record2 in gen_stats.iterrows %}
                            <tr>
                                {% for value2 in record2 %}
                                    <td>{{ value2 }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
            </table>
        </div>
        <div class="row justify-content-center">
            <h3>Monthly Log Returns (%)</h3>
        </div>
        <div class="row justify-content-center">
            <table class="table table-hover w-auto table-bordered">
                <tr class="table-info">
                        {% for data in prices %}
                            <th>{{ data }}</th>
                        {% endfor %}

                        {% for _, record2 in prices.iterrows %}
                            <tr>
                                {% for value2 in record2 %}
                                    <td>{{value2}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                </table>
        </div>

    </div>
<footer>
    <p>Front-end and Back-end created by: Charles Beach</p>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<style>
    footer {
        text-align: center;
        display: block;
        border: #515151;
    }
</style>

</html>